<p><%= @goal.goal_name %></p>
<p><%= @goal.description %></p>
<p><%= @goal.achieved? %></p>
<a href="/goals/<%= @goal.id %>/edit">Edit Goal</a>
<form method="POST" action="/goals/<%= @goal.id%>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Goal" id="Delete Goal">
</form>