<h2 id="user_goals">Goal Name: <%= @goal.goal_name.capitalize %> | by: <%= @goal.user.username%></h2>
<div id="goal_attrs">
<p><b>Description of Goal: </b><%= @goal.description.capitalize %></p>
<p><b>Has this goal been achieved yet? </b><%= @goal.achieved.capitalize %></p>
</div>
<br>
<% if @goal.user == current_user %>
<a class="edit" href="/goals/<%= @goal.id %>/edit">Edit Goal</a>
<p></p>
<form class="delete" method="POST" action="/goals/<%= @goal.id %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Goal" id="Delete Goal">
</form>
</p>
<% end %>