<p><%= @goal.goal_name %></p>
<p><%= @goal.description %></p>
<p><%= @goal.achieved? %></p>
<a href="/goals/<%= @tweet.id %>/edit">Edit Tweet</a>
<form method="POST" action="/tweets/<%= @tweet.id%>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Tweet" id="Delete Tweet">
</form>